/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/*root*/

:root{
    --text-pink: #e53170;
    --text-light-blue: #68cbf2;
    --icon-black: #0f0e17;
    background-color: #fffffe;
}

/*utility*/

.flexbox-01 {
    display: flex;
    flex-direction: row;
}

body {
    background-color: var(--icon-black);
}