/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/*root*/

:root {
	--color-bg-white: #ffffff;
    --color-bg-icon-black: #23272a;
	--color-section-bg-blue: #2a5ee8;
	--color-icon-text-blue: #7289da;
	--color-icon-text-white: #ffffff;
}

/*utility*/

.flexbox-01 {
    display: flex;
    flex-direction: row;
}

body {
    background-color: var(--background-color);
}

.debug {
    border: 1px solid black;
}

