/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Linear B', sans-serif;
}

/*root*/

:root {
	--color-bg-white: #ffffff;
    --color-bg-icon-black: #23272a;
    --color-section-bg-grey: #f6f6f6;
	--color-section-bg-blue: #2a5ee8;
	--color-icon-text-blue: #7289da;
	--color-icon-text-white: #ffffff;
}

/*utility*/

.flexbox-01 {
    display: flex;
    flex-direction: row;
}

.debug {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

ul {
    list-style: none;
}

a {
    color: var(--color-icon-text-white);
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}

/*flex-utility*/

.d-flex  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.f-center {
    justify-content: center;
}


/*header*/

header {
    background-color: var(--color-section-bg-blue);
}

.nav-margin {
    margin-top: 10px;
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 800px;
}

#hero .container {
    min-height: 500px;
}

/*main*/

.main-section {
    padding: 60px;
}

.even {
    background-color: var(--color-section-bg-grey);
}

/*footer*/

footer {
    background-color: var(--color-bg-icon-black);
    color: var(--color-icon-text-white);
}